/* The main panels kind that holds day/week/month views: */
.main {
	background-color: #555;
}
/* Classes for the view selector at the bottom: */
.view-select {
	text-align: center;
	margin: 0px auto;
}
.view-select-button {
	width: 80px;
}

/*Fixes bugs: */
.pickerFix {
    z-index: 9999 !important;
}

.month-title {
	font-size: 2em;
	font-weight: 100;
}

.month-page {
	width: 100%;
	padding: 15px;
}

.month-table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.month-row {
}

.month-row-narrow > td {
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
.month-row-narrow > th {
	text-align: center;
}

.month-other {
	color: rgba(0, 0, 0, 0.2) !important;
}

.month-active {
	background: #d5e1e8 !important;
	color: rgba(0, 0, 0, 0.9) !important;
}

.month-item-header {
	text-align: left;
	height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.75em;
}

.month-item {
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.6);
	background-color: #F5F5F5;
	border: 1px solid #c4c4c4;
	box-shadow: inset 0px 1px 0px #fff;
	vertical-align: top;
	text-align: left;
	padding: 5px;
	width: 14%;
}

.month-item-active {
	background-color: #E4EDF2;
}

/* TODO: Change background color when narrow and events. */
.month-row-narrow .month-event-layer {
	display: none;
}

.month-event-layer {
	padding: 0px 4px;
	overflow: hidden;
	display: block;
}

.month-event {
	color: rgba(0, 0, 0, 0.9) !important;
	font-size: 0.6em !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	margin: 4px 0;
	margin-top: none;
}

.month-event:before {
	display: inline-block;
	content: "";
	padding: 0px;
	margin: 0px;
	width: 0.8em;
	height: 0.8em;
	margin-right: 5px;
	border-radius: 10px;
	background: #98C9FA;
}

.month-and-other {
	font-size: 0.5em;
	float: right;
	right: 0px;
	bottom: 0px;
	color: gray;
}
.month-row-narrow .month-and-other {
	display: none;
}
