/* The main panels kind that holds day/week/month views: */
.main {
	background-color: #555;
}
/* Classes for the view selector at the bottom: */
.view-select {
	text-align: center;
	margin: 0px auto;
}
.view-select-button {
	width: 80px;
}

/*Fixes bugs: */
.pickerFix {
    z-index: 9999 !important;
}

.day-page {
	width: 100%;
	padding: 15px;
}

.day-allday {
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.day-allday-label {
	display: inline-block;
	margin-left: 20px;
	font-size: 0.6em;
}

.day-page-inner {
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*background-color: rgba(0, 0, 0, 0.05);*/
	background-color: #F5F5F5;
	box-shadow: inset 0px 2px 0px #fff;
}

.day-header {
	padding: 10px;
}

.day-scroller {
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

.day-istoday {
	float: right !important;
	font-weight: bold;
	padding: 14px 20px;
	font-size: 0.8em;
}

.day-title {
	font-size: 2em;
	font-weight: 100;
}

.day-current-time {
	width: 100%;
	position: relative;
	top: 0px;
	border-top: 2px solid rgba(201, 68, 48, 0.7);
	height: 0px;
	z-index: 50;
}
/* We could make this a bar if we want? Also, experiment with the left being some orange indicator and the line being gray*/
/* Also x2, we could just match the style to how webOS 3.0 does it.
/*
.day-current-time:before {
	content: "";
	display: block;
	margin-top: -10px;
	margin-left: 0px;
	border-right: 2px solid rgba(201, 68, 48, 0.5);
	border-radius: 100px;
	width: 20px;
	height: 20px;
	background: #F5F5F5;
}
*/

.day-row {
	/*height: 10%;
	max-height: 60px;
	min-height: 40px;*/
	height: 55px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

/*
.day-row:first-child {
	margin-top: 20px;
}
*/

.day-row-label {
	font-size: 0.8em;
	font-weight: bold;
	width: 50px;
	background: #F5F5F5;
	margin-top: -10px;
	margin-left: 15px;
	padding-left: 5px;
}
.day-row-label > * {
	display: inline-block;
}

.day-row-label-ampm {
	font-weight: normal;
	font-size: 0.6em;
	margin-left: 4px;
	position: relative;
	top: -2px;
	text-transform: uppercase;
}

.day-row-half {
	width: 100%;
	position: relative;
	top: 50%;
	border-top: 1px dashed rgba(0, 0, 0, 0.07);
}


.day-events {
	position: relative;
	/* We don't want to change the height of the scroller, so we do this. Probably not ideal, but it works: */
	height: 0px;
	overflow: visible;
	top: 0px;
	margin-left: 70px;
	z-index: 40;
}

.day-event {
	position: absolute;
	display: inline-block;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid red;
	overflow: hidden;
	/*min-height: 20px;*/
}

/* All Day Event Classes */
.day-event-allday {
	border: none;
	position: relative;
	margin: 6px;
	padding: 5px;
	display: inline-block;
	max-width: 150px;
	overflow: hidden;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.2);
}
.day-event-allday .day-event-label {
	font-weight: bold;
	font-size: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}